{##
 # Mostrar la fecha en español
 #}
{% macro fecha(fecha) %}
{{ fecha|date('d \\d\\e %m% \\d\\e Y')|replace({'%01%': 'Enero', '%02%':'Febrero', '%03%':'Marzo', '%04%': 'Abril', '%05%': 'Mayo', '%06%': 'Junio', '%07%': 'Julio', '%08%': 'Agosto', '%09%': 'Septiembre', '%10%': 'Octubre', '%11%': 'Noviembre', '%12%': 'Diciembre'}) }}
{% endmacro %}

{##
 # Mostrar el nivel de permisos según el rol
 #}
{% macro getNivel(rol) %}
    {% if rol == 'ROLE_OPERATIVE' %}
        Administración del sistema
    {% elseif rol == 'ROLE_TACTIC' %}
        Táctico
    {% elseif rol == 'ROLE_STRATEGIC' %}
        Estratégico
    {% else %}
        Sin rol
    {% endif %}
{% endmacro %}

{##
 # Mostrar un icono según el estado según sí esta habilitado o no
 #}
{% macro estado(estado) %}
    {% if estado %}
        <i class="glyphicon glyphicon-ok-circle"></i>
    {% else %}
        <i class="glyphicon glyphicon-ban-circle"></i>
    {% endif %}
{% endmacro %}

{##
 # Generar el código para crear un modal de Bootstrap
 #}
{% macro modal(id, type, title, body) %}
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-hidden="true" style="width: 100%">
    <div class="modal-dialog {% if type == 'lg' %}modal-lg{% elseif type == 'sm' %}modal-sm{% else %}{% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body loading">
                {% if body is empty %}
                <!-- <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div> -->
                <div id="spinner">
                    <div class="loader">Cargando</div>
                </div>
                {% else %}
                {{ body|raw }}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" id="{{ id ~ '-acept' }}" class="btn btn-primary" data-loading-text="Enviando...">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
</div>
{% endmacro %}
