{% extends "SIGBundle:Default:index.html.twig" %}

{% block parameters %}
<h1>{{ title }}</h1>
<br />
<br />
<br />
<h2><span class="label label-success">Lista de respaldos realizados</span></h2>
<div class="table-responsive">
	<table class="table striped">
		<thead>
			<tr>
				<th>Respaldo</th>
				<th>Operación</th>
			</tr>
			<tbody>
				{% for backup in backups %}
				<tr>
					<td>{{ backup }}</th>
					<td>
						<div class="btn-group">
							<a href="{{ path('backup-save', { 'backup': backup }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-floppy-save"></i> Descargar</a>
							<a href="{{ path('backup-restore', { 'backup': backup }) }}" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-floppy-saved"></i> Restaurar</a>
							<a href="{{ path('backup-delete', { 'backup': backup }) }}" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-floppy-remove"></i> Eliminar</a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</thead>
	</table>
</div>
<a href="{{ path('backup-create') }}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Crear respaldo</a>
{% endblock %}

{% block javascript %}
<script>
    require(['../bundles/sig/js/bd'], function(bd) {
    });
</script>
{% endblock %}