{% extends 'SIGBundle::reporteMaestro.pdf.twig' %}

{% block contenido %}
<h2 text-align="center">Asitencias generales</h2>
<p text-align="center">Desde {{ util.fecha(fecha_inicio) }} hasta el {{ util.fecha(fecha_fin) }}</p>
<br />
<br />
<br />
<br />
<div font-size="14px">
<p>Cantidad de niños atendidos: {{ cant_ninios }}</p>
<p>Cantidad de niñas atendidas: {{ cant_ninias }}</p>
<p>Cantidad total de pacientes atendidos:  {{ cant_total }}</p>
</div>
{% endblock %}
