{% extends 'SIGBundle::reporteMaestro.pdf.twig' %}

{% block contenido %}
<h2 text-align="center">Reporte de Relaciones Sagitales</h2>
<p text-align="center">Desde <b> {{ util.fecha(fecha_inicio) }} </b> hasta el <b>{{ util.fecha(fecha_fin) }}</b></p>
<br />
<br />
<br />
<br />

{% if sexo == 0 %}
	<table style="border-color: black; font-size:14px;" >
		<tr style="background-color:white; border-color: black;  ">
			<td colspan="12" style="border-color: black; "><p text-align="center"><b>POR SEXO</b></p></td>
		</tr>
		<tr style="background-color:white; border-color: black;">
			<td style="border-color: black; " colspan="2" ><p text-align="center"></p></td>
			<td colspan="5" style="border-color: black; "><p text-align="center"><b>Masculino</b></p></td>
			<td colspan="5" style="border-color: black; "><p text-align="center"><b>Femenino</b></p></td>
		</tr>
		<tr style="background-color:white; border-color: black;" text-align="center">
			<td style="border-color: black; "  colspan="2" ></td>
			<td style="border-color: black; "><b>C1</b></td>
			<td style="border-color: black; "><b>C2</b></td>
			<td style="border-color: black; "><b>C3</b></td>
			<td style="border-color: black; "><b>CC</b></td>
			<td style="border-color: black; "><b>NE</b></td>

			<td style="border-color: black; "><b>C1</b></td>
			<td style="border-color: black; "><b>C2</b></td>
			<td style="border-color: black; "><b>C3</b></td>
			<td style="border-color: black; "><b>CC</b></td>
			<td style="border-color: black; "><b>NE</b></td>
		</tr>

		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Molar Derecha</td>
			<td style="border-color: black; ">{{ molarDerecha.valor1 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor2 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor3 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor4 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor5 }}</td>
			
			<td style="border-color: black; ">{{ molarDerecha.valor6 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor7 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor8 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor9 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor10 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Molar Izquierda</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor1 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor2 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor3 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor4 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor5 }}</td>
			
			<td style="border-color: black; ">{{ molarIzquierda.valor6 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor7 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor8 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor9 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor10 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Canina Derecha</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor1 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor2 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor3 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor4 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor5 }}</td>
			
			<td style="border-color: black; ">{{ caninaDerecha.valor6 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor7 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor8 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor9 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor10 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2">Canina Izquierda</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor1 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor2 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor3 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor4 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor5 }}</td>
			
			<td style="border-color: black; ">{{ caninaIzquierda.valor6 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor7 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor8 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor9 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor10 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
		</tr>
	</table>	
{% elseif sexo == 1 %}
<table style="border-color: black; font-size:14px;">
	<tr style="background-color:white; border-color: black;  ">
		<td colspan="7" style="border-color: black; "><p text-align="center"><b>POR SEXO</b></p></td>
	</tr>
		<tr style="background-color:white; border-color: black;">
			<td style="border-color: black; " colspan="2"><p text-align="center" ></p></td>
			<td style="border-color: black; " colspan="5"><p text-align="center" > <b> Masculino </b></p></td> 
		</tr>
		<tr style="background-color:white; border-color: black;" text-align="center">
			<td style="border-color: black; " colspan="2"></td>
			<td style="border-color: black; "><b>C1</b></td>
			<td style="border-color: black; "><b>C2</b></td>
			<td style="border-color: black; "><b>C3</b></td>
			<td style="border-color: black; "><b>CC</b></td>
			<td style="border-color: black; "><b>NE</b></td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Molar Derecha</td>
			<td style="border-color: black; ">{{ molarDerecha.valor1 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor2 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor3 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor4 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor5 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Molar Izquierda</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor1 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor2 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor3 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor4 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor5 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Canina Derecha</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor1 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor2 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor3 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor4 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor5 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Canina Izquierda</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor1 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor2 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor3 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor4 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor5 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
		</tr>
	</table>

{% elseif sexo == 2 %}
<table style="border-color: black; font-size:14px;">
	<tr style="background-color:white; border-color: black;  ">
		<td colspan="7" style="border-color: black; "><p text-align="center"><b>POR SEXO</b></p></td>
	</tr>
		<tr style="background-color:white; border-color: black;">
			<td style="border-color: black; " colspan="2"><p text-align="center" ></p></td>
			<td style="border-color: black; " colspan="5"><p text-align="center" > <b> Femenino </b></p></td> 
		</tr>
		<tr style="background-color:white; border-color: black;" text-align="center">
			<td style="border-color: black; " colspan="2"></td>
			<td style="border-color: black; "><b>C1</b></td>
			<td style="border-color: black; "><b>C2</b></td>
			<td style="border-color: black; "><b>C3</b></td>
			<td style="border-color: black; "><b>CC</b></td>
			<td style="border-color: black; "><b>NE</b></td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Molar Derecha</td>
			<td style="border-color: black; ">{{ molarDerecha.valor6 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor7 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor8 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor9 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor10 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Molar Izquierda</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor6 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor7 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor8 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor9 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor10 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Canina Derecha</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor6 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor7 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor8 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor9 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor10 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Canina Izquierda</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor6 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor7 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor8 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor9 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor10 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
		</tr>
	</table>
{% endif %}


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<table style="border-color: black; font-size:14px;">
	<tr style="background-color:white; border-color: black;  ">
		<td colspan="7" style="border-color: black; "><p text-align="center"><b>POR EDAD</b></p></td>
	</tr>

	{% if edad == 3 %}
		<tr style="background-color:white; border-color: black;">
			<td style="border-color: black; " colspan="2"><p text-align="center"></p></td>
			<td style="border-color: black; " colspan="5"><p text-align="center"> <b> Todas las edades </b></p></td> 
		</tr>
	{% else %}
		<tr style="background-color:white; border-color: black;">
			<td style="border-color: black; " colspan="2"><p text-align="center" ></p></td>
			<td style="border-color: black; " colspan="5"><p text-align="center" > <b> {{ edad }} años </b></p></td> 
		</tr>
	{% endif %}
		<tr style="background-color:white; border-color: black;" text-align="center">
			<td style="border-color: black; " colspan="2"></td>
			<td style="border-color: black; "><b>C1</b></td>
			<td style="border-color: black; "><b>C2</b></td>
			<td style="border-color: black; "><b>C3</b></td>
			<td style="border-color: black; "><b>CC</b></td>
			<td style="border-color: black; "><b>NE</b></td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Molar Derecha</td>
			<td style="border-color: black; ">{{ molarDerecha.valor11 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor12 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor13 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor14 }}</td>
			<td style="border-color: black; ">{{ molarDerecha.valor15 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Molar Izquierda</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor11 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor12 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor13 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor14 }}</td>
			<td style="border-color: black; ">{{ molarIzquierda.valor15 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Canina Derecha</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor11 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor12 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor13 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor14 }}</td>
			<td style="border-color: black; ">{{ caninaDerecha.valor15 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; font-size:14px;" colspan="2" >Canina Izquierda</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor11 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor12 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor13 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor14 }}</td>
			<td style="border-color: black; ">{{ caninaIzquierda.valor15 }}</td>
		</tr>
		<tr style="background-color:white; border-color: black; font-size:12px;" text-align="center">
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
			<td style="border-color: black; "></td>
		</tr>
</table>


{% endblock %}
