<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|default('Sistema de información gerencial') }}</title>
        <meta charset="utf-8">
        <meta name="description" content="Sistema de información gerencial para el seguimiento de expedientes ortodentales" />
        <meta name="author" content="Ingeniería de Sistemas Informáticos" />
        <meta name="keywords" content="SIG" />
        <!-- Optimized mobile viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
        <!-- CSS -->
        {#<link rel="stylesheet" href="{{ asset('js/require.css') }}" />#}
        {% stylesheets
            'js/require.css'
            '@SIGBundle/Resources/public/css/*'
            output='js/estilo.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <!-- Require.js loader -->
        <script src="{{ asset('js/require.js') }}"></script>
    </head>
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('xs') }}
    {{ bootstrap_set_label_col(4) }}
    {{ bootstrap_set_widget_col(8) }}
    <body>
        <noscript>Para el correcto funcionamiento del sistema debe tener habilitado el uso de Javascript en su navegador</noscript>
        {% block layout %}
        <nav id="navbar-menu" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Cambiar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i> Principal</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    {% if is_granted('ROLE_TACTIC') %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-book"></i> Área Ortodoncia <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('enfermedades-padecidas') }}"><i class="glyphicon glyphicon-file"></i> Enfermedades padecidas</a></li>
                                <li><a href="{{ path('tipo-perfil') }}"><i class="glyphicon glyphicon-file"></i> Tipo de perfiles</a></li>
                                <li><a href="{{ path('lineas-medias') }}"><i class="glyphicon glyphicon-file"></i> Lineas medias</a></li>
                                <li><a href="{{ path('sobre-mordidas') }}"><i class="glyphicon glyphicon-file"></i> Sobre mordidas</a></li>
                                <li><a href="{{ path('mordidas-cruzadas') }}"><i class="glyphicon glyphicon-file"></i> Mordidas cruzadas</a></li>
                                <li><a href="{{ path('estadios-nolla') }}"><i class="glyphicon glyphicon-file"></i> Estadios de Nolla</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    {% if is_granted('ROLE_STRATEGIC') %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-book"></i> Clinica Intramural <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('relacion-sagital') }}"><i class="glyphicon glyphicon-file"></i> Relaciones sagitales</a></li>
                                <li><a href="{{ path('cantidad-citas') }}"><i class="glyphicon glyphicon-file"></i> Cantidad de citas</a></li>
                                <li><a href="{{ path('plan-tratamiento') }}"><i class="glyphicon glyphicon-file"></i> Plan de tratamiento</a></li>
                                <li><a href="{{ path('asistencias') }}"><i class="glyphicon glyphicon-file"></i> Asistencias generales</a></li>
                                <li><a href="{{ path('casos-referidos') }}"><i class="glyphicon glyphicon-file"></i> Casos referidos</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    {% if is_granted('ROLE_OPERATIVE') %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tasks"></i> Administración del sistema <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('actividad-sistema') }}"><I class="glyphicon glyphicon-stats"></I> Consultar registro de actividad</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('gestion-bd') }}"><i class="glyphicon glyphicon-floppy-save"></i> Gestión de la base de datos</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tower"></i> Gestionar usuarios <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('usuario_new') }}"><i class="glyphicon glyphicon-plus-sign"></i> Ingresar usuario</a></li>
                                <li><a href="{{ path('usuario_index') }}"><i class="glyphicon glyphicon-eye-open"></i> Consultar usuarios</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    {% if app.user.username is defined %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('usuario_show', {'username': app.user.username}) }}"><i class="glyphicon glyphicon-info-sign"></i> Información</a></li>
                                <li><a href="{{ path('usuario_pwd', {'username': app.user.username}) }}"><i class="glyphicon glyphicon-fire"></i> Cambiar contraseña</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-off"></i> Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    <div class="nav navbar-nav navbar-right">
                        <a id="ayuda" class="navbar-text" href="#ayuda"><i class="glyphicon glyphicon-question-sign"></i> Ayuda</a>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { close: true, translation_domain: 'es' } %}
        <!--Centralize the grid-->
        <div class="container">
            <div id="main" class="row">
                {% block content %}
                    {% block parameters %}
                    <div class="jumbotron">
                        <h1>Sistema de información gerencial <small>para el seguimiento de expedientes dentales</small></h1>
                        <p>Facultad de Odontología, Universidad de El Salvador</p>
                    </div>
                    <div id="carousel-index" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-index" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-index" data-slide-to="1"></li>
                            <li data-target="#carousel-index" data-slide-to="2"></li>
                            <li data-target="#carousel-index" data-slide-to="3"></li>
                            <li data-target="#carousel-index" data-slide-to="4"></li>
                            <li data-target="#carousel-index" data-slide-to="5"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="{{ asset('bundles/sig/images/carousel.1.jpg') }}" alt="carousel.1">
                            </div>
                            <div class="item">
                                <img src="{{ asset('bundles/sig/images/carousel.2.jpg') }}" alt="carousel.2">
                            </div>
                            <div class="item">
                                <img src="{{ asset('bundles/sig/images/carousel.3.jpg') }}" alt="carousel.3">
                            </div>
                            <div class="item">
                                <img src="{{ asset('bundles/sig/images/carousel.4.jpg') }}" alt="carousel.4">
                            </div>
                            <div class="item">
                                <img src="{{ asset('bundles/sig/images/carousel.5.jpg') }}" alt="carousel.5">
                            </div>
                            <div class="item">
                                <img src="{{ asset('bundles/sig/images/carousel.6.jpg') }}" alt="carousel.6">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-index" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-index" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                    {% endblock %}
                    <div id="preview-report" class="row hidden"><div id="spinner"><div class="loader">Cargando...</div></div></div>
                {% endblock %}
            </div>
        </div>
        <footer class="affix-bottom">
            <div class="container">
                <br />
                <br />
                <br />
                <p class="text-muted text-center">Final Avenida "Mártires Estudiantes del 30 de Julio", Ciudad Universitaria. San Salvador, El Salvador, C.A.<br /> APDO. 2100 Tel. 2225-1490 FAX. 2225-7198</p>
            </div>
        </footer>
        {% endblock %}
        <!-- JavaScript at the bottom for fast page loading -->
        {% block javascript %}
        <script>
            require(['bootstrap'], function($) {
            });
        </script>
        {% endblock %}
        <script>
            //IE outdate friendly warning if you don't want remove it
            var sig = {vs: {i:8,f:28,o:22,s:7,c:33}};
            sig.ol = window.onload; 
            window.onload = function() {
                try {
                    if (sig.ol)
                        sig.ol();
                } catch (e) {}
                var e = document.createElement("script");
                e.setAttribute("type", "text/javascript");
                e.setAttribute("src", "//browser-update.org/update.js");
                document.body.appendChild(e); 
            }
        </script>
    </body>
</html>
