{% extends 'SIGBundle:Usuario:index.html.twig' %}
{% import _self as util %}
{% block content %}
<h1>{{ title }}</h1>
<div class="row">
    <span class="col-xs-4">Nombres</span>
    <span class="col-xs-8">{{ entity.nombres }}</span>
</div>
<div class="row">
    <span class="col-xs-4">Apellidos</span>
    <span class="col-xs-8">{{ entity.apellidos }}</span>
</div>
<div class="row">
    <span class="col-xs-4">Nombre de usuario</span>
    <span class="col-xs-8">{{ entity.username }}</span>
</div>
<div class="row">
    <span class="col-xs-4">Nivel</span>
    <span class="col-xs-8">{% for rol in entity.role %}{{ util.getNivel(rol) }}{% endfor %}</span>
</div>
    {% if is_granted('ROLE_OPERATIVE') %}
<div class="row">
    <span class="col-xs-4">Habilitado</span>
    <span class="col-xs-8">{{ util.estado(entity.enabled) }}</span>
</div>
<div class="row">
    <span class="col-xs-4">Bloqueado</span>
    <span class="col-xs-8">{{ util.estado(entity.locked) }}</span>
</div>
    {% endif %}
<div class="form-actions">
    <a class="btn btn-primary" href="{{ path('usuario_edit', { 'username': entity.username }) }}">Modificar</a>
    {% if is_granted('ROLE_OPERATIVE') and app.user.username != entity.username %}
        <button id="usuario_eliminar" class="btn btn-danger" data-target="#modal-confirm-del" data-toggle="modal">Eliminar</button>
        {{ util.modal('modal-confirm-del', 'sm', 'Confirmar eliminación', '¿Desea eliminar al usuario?<br />La operación no se puede revertir') }}
    {% endif %}
    <button type="button" id="usuario_pwd" class="btn btn-info" data-target="#modal-confirm-pwd" data-toggle="modal">Cambiar contraseña</button>
    {% if is_granted('ROLE_OPERATIVE') %}
    <a class="btn btn-default" href="{{ path('usuario_index') }}">Regresar</a>
    {% endif %}
</div>
{{ util.modal('modal-confirm-pwd', '', 'Cambiar contraseña', '') }}
{% endblock %}

{% block javascript %}
<script>
    require(['../bundles/sig/js/util/listener_usuario'], function(listener) {
        listener.eliminarUsuario(Routing.generate('usuario_delete', {'username':'{{ entity.username }}'}));
        listener.passwordUsuario(Routing.generate('usuario_pwd', { 'username': '{{ entity.username }}' }), Routing.generate('usuario_pwd_update', { 'username': '{{ entity.username }}' }));
    });
</script>
{% endblock %}
