{% extends 'SIGBundle:Usuario:index.html.twig' %}

{% block content %}
<div class="row">
    <span class="col-xs-12 col-sm-12 col-md-4 col-lg-2">Nombres</span>
    <span class="col-xs-12 col-sm-12 col-md-8 col-lg-10">{{ entity.nombres }}</span>
</div>
<div class="row">
    <span class="col-xs-12 col-sm-12 col-md-4 col-lg-2">Apellidos</span>
    <span class="col-xs-12 col-sm-12 col-md-8 col-lg-10">{{ entity.apellidos }}</span>
</div>
<div class="row">
    <span class="col-xs-12 col-sm-12 col-md-4 col-lg-2">Nombre de usuario</span>
    <span class="col-xs-12 col-sm-12 col-md-8 col-lg-10">{{ entity.username }}</span>
</div>
<div class="row">
    <span class="col-xs-12 col-sm-12 col-md-4 col-lg-2">Nivel</span>
    <span class="col-xs-12 col-sm-12 col-md-8 col-lg-10">{% for rol in entity.role %}{{ util.getNivel(rol) }}{% endfor %}</span>
</div>
<div class="row">
    <span class="col-xs-12 col-sm-12 col-md-4 col-lg-2">Habilitado</span>
    <span class="col-xs-12 col-sm-12 col-md-8 col-lg-10">{{ util.estado(entity.enabled) }}</span>
</div>
<div class="row">
    <span class="col-xs-12 col-sm-12 col-md-4 col-lg-2">Bloqueado</span>
    <span class="col-xs-12 col-sm-12 col-md-8 col-lg-10">{{ util.estado(entity.locked) }}</span>
</div>
<div class="form-actions">
    <a class="btn btn-default" href="{{ path('usuario_index') }}">Regresar</a>
    <a class="btn btn-info" href="{{ path('usuario_edit', { 'id': entity.idusuario }) }}">Modificar</a>
    {{ form(delete_form) }}
</div>
{% endblock %}
