{% extends "SIGBundle::reporteMaestro.pdf.twig" %}

{% block contenido %}
<h2 text-align="center">Enfermedades Padecidas</h2>

<p text-align="center">Desde {{ util.fecha(fecha_inicio) }} hasta el {{ util.fecha(fecha_fin) }}</p>
<br />
<br />
<br />
<p> Sexo Escogido: {{ mensaje }} </p>
<br />
<br />
<br />
{% if sexo == 0 %}
<p text-align="center"> Cantidad de Niños por Edades </p>
<table width="100%" text-align="center" style="border-color: white; font-size:12px;">
	<tr>
		<td style="border-color: black; ">4 años</td>
		<td style="border-color: black; ">5 años</td>
		<td style="border-color: black; ">6 años</td>
		<td style="border-color: black; ">7 años</td>
		<td style="border-color: black; ">8 años</td>
		<td style="border-color: black; ">9 años</td>
		<td style="border-color: black; ">10 años</td>
		<td style="border-color: black; ">11 años</td>
		
	</tr>
	<tr>
		<td style="border-color: white; ">{{ cant4anios }}</td>
		<td style="border-color: white; ">{{ cant5anios }}</td>
		<td style="border-color: white; ">{{ cant6anios }}</td>
		<td style="border-color: white; ">{{ cant7anios }}</td>
		<td style="border-color: white; ">{{ cant8anios }}</td>
		<td style="border-color: white; ">{{ cant9anios }}</td>
		<td style="border-color: white; ">{{ cant10anios }}</td>
		<td style="border-color: white; ">{{ cant11anios }}</td>
		
	</tr>
</table>
<br />
<br />
<p text-align="center"> Cantidad de Niñas por Edades </p>
<table width="100%" text-align="center">
	<tr>
		<td style="border-color: white; ">4 años</td>
		<td style="border-color: white; ">5 años</td>
		<td style="border-color: white; ">6 años</td>
		<td style="border-color: white; ">7 años</td>
		<td style="border-color: white; ">8 años</td>
		<td style="border-color: white; ">9 años</td>
		<td style="border-color: white; ">10 años</td>
		<td style="border-color: white; ">11 años</td>
		
	</tr>
	<tr>
		<td style="border-color: white; ">{{ cant4nina }}</td>
		<td style="border-color: white; ">{{ cant5nina }}</td>
		<td style="border-color: white; ">{{ cant6nina }}</td>
		<td style="border-color: white; ">{{ cant7nina }}</td>
		<td style="border-color: white; ">{{ cant8nina }}</td>
		<td style="border-color: white; ">{{ cant9nina }}</td>
		<td style="border-color: white; ">{{ cant10nina }}</td>
		<td style="border-color: white; ">{{ cant11nina }}</td>
	
	</tr>
</table>
{% endif %}


{% if sexo == 1 %}
<p text-align="center"> Cantidad de Niños por Edades </p>
<table width="100%" text-align="center">

	<tr>
		<td style="border-color: white; ">4 años</td>
		<td style="border-color: white; ">5 años</td>
		<td style="border-color: white; ">6 años</td>
		<td style="border-color: white; ">7 años</td>
		<td style="border-color: white; ">8 años</td>
		<td style="border-color: white; ">9 años</td>
		<td style="border-color: white; ">10 años</td>
		<td style="border-color: white; ">11 años</td>
		
	</tr>
	<tr>
		<td style="border-color: white; ">{{ cant4anios }}</td>
		<td style="border-color: white; ">{{ cant5anios }}</td>
		<td style="border-color: white; ">{{ cant6anios }}</td>
		<td style="border-color: white; ">{{ cant7anios }}</td>
		<td style="border-color: white; ">{{ cant8anios }}</td>
		<td style="border-color: white; ">{{ cant9anios }}</td>
		<td style="border-color: white; ">{{ cant10anios }}</td>
		<td style="border-color: white; ">{{ cant11anios }}</td>
		
	</tr>
</table>
{% endif %}


{% if sexo == 2 %}
<p text-align="center"> Cantidad de Niñas por Edades </p>
<table width="100%" text-align="center">
	<tr>
		<td style="border-color: white; ">4 años</td>
		<td style="border-color: white; ">5 años</td>
		<td style="border-color: white; ">6 años</td>
		<td style="border-color: white; ">7 años</td>
		<td style="border-color: white; ">8 años</td>
		<td style="border-color: white; ">9 años</td>
		<td style="border-color: white; ">10 años</td>
		<td style="border-color: white; ">11 años</td>
		
	</tr>
	<tr>
		<td style="border-color: white; ">{{ cant4nina }}</td>
		<td style="border-color: white; ">{{ cant5nina }}</td>
		<td style="border-color: white; ">{{ cant6nina }}</td>
		<td style="border-color: white; ">{{ cant7nina }}</td>
		<td style="border-color: white; ">{{ cant8nina }}</td>
		<td style="border-color: white; ">{{ cant9nina }}</td>
		<td style="border-color: white; ">{{ cant10nina }}</td>
		<td style="border-color: white; ">{{ cant11nina }}</td>
	
	</tr>
</table>
{% endif %}


{% endblock %}
