{% extends "SIGBundle::reporteMaestro.pdf.twig" %}

{% block contenido %}
<h2 text-align="center">Sobre Mordidas</h2>
<p text-align="center">Desde {{ util.fecha(fecha_inicio) }} hasta el {{ util.fecha(fecha_fin) }}</p>
<br />
<br />
<br />
<br />
<p text-align="center"> 4 anios {{ cant4anios }}</p>
<p text-align="center"> 5 anios {{ cant5anios }}</p>
<p text-align="center"> 6 anios {{ cant6anios }}</p>
<p text-align="center"> 7 anios {{ cant7anios }}</p>
<p text-align="center"> 8 anios {{ cant8anios }}</p>
<p text-align="center"> 9 anios {{ cant9anios }}</p>
<p text-align="center"> 10 anios {{ cant10anios }}</p>
<p text-align="center"> 11 anios {{ cant11anios }}</p>
<p text-align="center"> 12 anios {{ cant12anios }}</p>
{% endblock %}