{% extends "SIGBundle::reporteMaestro.pdf.twig" %}

{% block contenido %}
<h2 text-align="center">Mordidas Cruzadas</h2>
<p text-align="center">Desde <b> {{ util.fecha(fecha_inicio) }} </b> hasta el <b> {{ util.fecha(fecha_fin) }} </b></p>
<br />
<br />
<br />
<br />
<br />
<br />
<h3> Sexo Escogido: {{ mensaje }} </h3>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% if sexo == 0 %}
	<table width="100%" text-align="center" style="border-color: white; font-size:14px;">
		<tr style="background-color:white; border-color: black;  ">
			<td colspan="9" style="border-color: black; "><p text-align="center"><b>Cantidad de niños con Mordidas Cruzadas 
			en las piezas {{cuadsup}} - {{pzsup}}   y   {{cuadinf}} - {{pzinf}}</b></p></td>
		</tr>
		<tr style="background-color: white; ">
			<td style="border-color: black; " ><p text-align="center">4 años</p></td>
			<td style="border-color: black; "><p text-align="center">5 años</p></td>
			<td style="border-color: black; "><p text-align="center">6 años</p></td>
			<td style="border-color: black; "><p text-align="center">7 años</p></td>
			<td style="border-color: black; "><p text-align="center">8 años</p></td>
			<td style="border-color: black; "><p text-align="center">9 años</p></td>
			<td style="border-color: black; "><p text-align="center">10 años</p></td>
			<td style="border-color: black; "><p text-align="center">11 años</p></td>
			<td style="border-color: black; "><p text-align="center">12 años</p></td>
		</tr>
		<tr style="background-color: white; ">
			<td style="border-color: black; "><p text-align="center">{{ cant4anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant5anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant6anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant7anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant8anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant9anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant10anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant11anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant12anios }}</p></td>
		</tr>
	</table>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table width="100%" text-align="center" style="border-color: white; font-size:14px;">
		<tr style="background-color:white; border-color: black;  ">
			<td colspan="9" style="border-color: black; "><p text-align="center"><b>Cantidad de niñas con Mordidas Cruzadas 
			en las piezas {{cuadsup}} - {{pzsup}}   y   {{cuadinf}} - {{pzinf}}</b></p></td>
		</tr>
		<tr style="background-color: white; ">
			<td style="border-color: black; " ><p text-align="center">4 años</p></td>
			<td style="border-color: black; "><p text-align="center">5 años</p></td>
			<td style="border-color: black; "><p text-align="center">6 años</p></td>
			<td style="border-color: black; "><p text-align="center">7 años</p></td>
			<td style="border-color: black; "><p text-align="center">8 años</p></td>
			<td style="border-color: black; "><p text-align="center">9 años</p></td>
			<td style="border-color: black; "><p text-align="center">10 años</p></td>
			<td style="border-color: black; "><p text-align="center">11 años</p></td>
			<td style="border-color: black; "><p text-align="center">12 años</p></td>
		</tr>
		<tr style="background-color: white; ">
			<td style="border-color: black; "><p text-align="center">{{ cant4nina }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant5nina }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant6nina }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant7nina }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant8nina }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant9nina }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant10nina }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant11nina }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant12nina }}</p></td>
		</tr>
	</table>
{% endif %}

{% if sexo == 1 %}
	<table width="100%" text-align="center" style="border-color: white; font-size:14px;">
		<tr style="background-color:white; border-color: black;  ">
			<td colspan="9" style="border-color: black; "><p text-align="center"><b>Cantidad de niños con Mordidas Cruzadas 
			en las piezas {{cuadsup}} - {{pzsup}}   y   {{cuadinf}} - {{pzinf}}</b></p></td>
		</tr>
		<tr style="background-color: white; ">
			<td style="border-color: black; " ><p text-align="center">4 años</p></td>
			<td style="border-color: black; "><p text-align="center">5 años</p></td>
			<td style="border-color: black; "><p text-align="center">6 años</p></td>
			<td style="border-color: black; "><p text-align="center">7 años</p></td>
			<td style="border-color: black; "><p text-align="center">8 años</p></td>
			<td style="border-color: black; "><p text-align="center">9 años</p></td>
			<td style="border-color: black; "><p text-align="center">10 años</p></td>
			<td style="border-color: black; "><p text-align="center">11 años</p></td>
			<td style="border-color: black; "><p text-align="center">12 años</p></td>
		</tr>
		<tr style="background-color: white; ">
			<td style="border-color: black; "><p text-align="center">{{ cant4anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant5anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant6anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant7anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant8anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant9anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant10anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant11anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant12anios }}</p></td>
		</tr>
	</table>
{% endif %}

{% if sexo == 2 %}
	<table width="100%" text-align="center" style="border-color: white; font-size:14px;">
		<tr style="background-color:white; border-color: black;  ">
			<td colspan="9" style="border-color: black; "><p text-align="center"><b>Cantidad de niñas con Mordidas Cruzadas 
			en las piezas {{cuadsup}} - {{pzsup}}   y   {{cuadinf}} - {{pzinf}}</b></p></td>
		</tr>
		<tr style="background-color: white; ">
			<td style="border-color: black; " ><p text-align="center">4 años</p></td>
			<td style="border-color: black; "><p text-align="center">5 años</p></td>
			<td style="border-color: black; "><p text-align="center">6 años</p></td>
			<td style="border-color: black; "><p text-align="center">7 años</p></td>
			<td style="border-color: black; "><p text-align="center">8 años</p></td>
			<td style="border-color: black; "><p text-align="center">9 años</p></td>
			<td style="border-color: black; "><p text-align="center">10 años</p></td>
			<td style="border-color: black; "><p text-align="center">11 años</p></td>
			<td style="border-color: black; "><p text-align="center">12 años</p></td>
		</tr>
		<tr style="background-color: white; ">
			<td style="border-color: black; "><p text-align="center">{{ cant4anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant5anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant6anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant7anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant8anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant9anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant10anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant11anios }}</p></td>
			<td style="border-color: black; "><p text-align="center">{{ cant12anios }}</p></td>
		</tr>
	</table>
{% endif %}
{% endblock %}