{% extends "SIGBundle::reporteMaestro.pdf.twig" %}

{% block contenido %}
<p text-align="center">Desde {{ util.fecha(fecha_inicio) }} hasta el {{ util.fecha(fecha_fin) }}</p>
<h2 text-align="center">Mordidas Cruzadas</h2>
<br />
<br />
<br />
<p> Sexo Escogido: {{ mensaje }} </p>
<br />
<br />
<br />
{% if sexo == 0 %}
	<p text-align="center"> Cantidad de Ninos por Edades </p>
	<table style="border-color: white; font-size:14px;" text-align="center">
		<tr style="background-color:#63A1D3; border-color: white;  ">
			<td style="border-color: white; " >4 anios</td>
			<td style="border-color: white; ">5 anios</td>
			<td style="border-color: white; ">6 anios</td>
			<td style="border-color: white; ">7 anios</td>
			<td style="border-color: white; ">8 anios</td>
			<td style="border-color: white; ">9 anios</td>
			<td style="border-color: white; ">10 anios</td>
			<td style="border-color: white; ">11 anios</td>
			<td style="border-color: white; ">12 anios</td>
		</tr>
		<tr style="background-color:#C5D1DB; border-color: white;">
			<td style="border-color: white; ">{{ cant4anios }}</td>
			<td style="border-color: white; ">{{ cant5anios }}</td>
			<td style="border-color: white; ">{{ cant6anios }}</td>
			<td style="border-color: white; ">{{ cant7anios }}</td>
			<td style="border-color: white; ">{{ cant8anios }}</td>
			<td style="border-color: white; ">{{ cant9anios }}</td>
			<td style="border-color: white; ">{{ cant10anios }}</td>
			<td style="border-color: white; ">{{ cant11anios }}</td>
			<td style="border-color: white; ">{{ cant12anios }}</td>
		</tr>
	</table>
	<br />
	<br />
	<p text-align="center"> Cantidad de Ninas por Edades </p>
	<br />
	<table style="border-color: white; font-size:14px;" text-align="center">
		<tr style="background-color:#63A1D3; border-color: white;  ">
			<td style="border-color: white; ">4 anios</td>
			<td style="border-color: white; ">5 anios</td>
			<td style="border-color: white; ">6 anios</td>
			<td style="border-color: white; ">7 anios</td>
			<td style="border-color: white; ">8 anios</td>
			<td style="border-color: white; ">9 anios</td>
			<td style="border-color: white; ">10 anios</td>
			<td style="border-color: white; ">11 anios</td>
			<td style="border-color: white; ">12 anios</td>
		</tr>
		<tr style="background-color:#C5D1DB; border-color: white;">
			<td style="border-color: white; ">{{ cant4nina }}</td>
			<td style="border-color: white; ">{{ cant5nina }}</td>
			<td style="border-color: white; ">{{ cant6nina }}</td>
			<td style="border-color: white; ">{{ cant7nina }}</td>
			<td style="border-color: white; ">{{ cant8nina }}</td>
			<td style="border-color: white; ">{{ cant9nina }}</td>
			<td style="border-color: white; ">{{ cant10nina }}</td>
			<td style="border-color: white; ">{{ cant11nina }}</td>
			<td style="border-color: white; ">{{ cant12nina }}</td>
		</tr>
	</table>
{% endif %}

{% if sexo == 1 %}
	<p text-align="center"> Cantidad de Ninos por Edades </p>
	<table style="border-color: white; font-size:14px;" text-align="center">
		<tr style="background-color:#63A1D3; border-color: white;  ">
			<td style="border-color: white; " >4 anios</td>
			<td style="border-color: white; ">5 anios</td>
			<td style="border-color: white; ">6 anios</td>
			<td style="border-color: white; ">7 anios</td>
			<td style="border-color: white; ">8 anios</td>
			<td style="border-color: white; ">9 anios</td>
			<td style="border-color: white; ">10 anios</td>
			<td style="border-color: white; ">11 anios</td>
			<td style="border-color: white; ">12 anios</td>
		</tr>
		<tr style="background-color:#C5D1DB; border-color: white;">
			<td style="border-color: white; ">{{ cant4anios }}</td>
			<td style="border-color: white; ">{{ cant5anios }}</td>
			<td style="border-color: white; ">{{ cant6anios }}</td>
			<td style="border-color: white; ">{{ cant7anios }}</td>
			<td style="border-color: white; ">{{ cant8anios }}</td>
			<td style="border-color: white; ">{{ cant9anios }}</td>
			<td style="border-color: white; ">{{ cant10anios }}</td>
			<td style="border-color: white; ">{{ cant11anios }}</td>
			<td style="border-color: white; ">{{ cant12anios }}</td>
		</tr>
	</table>
{% endif %}

{% if sexo == 2 %}
	<p text-align="center"> Cantidad de Ninas por Edades </p>
	<br />
	<table style="border-color: white; font-size:14px;" text-align="center">
		<tr style="background-color:#63A1D3; border-color: white;  ">
			<td style="border-color: white; " >4 anios</td>
			<td style="border-color: white; ">5 anios</td>
			<td style="border-color: white; ">6 anios</td>
			<td style="border-color: white; ">7 anios</td>
			<td style="border-color: white; ">8 anios</td>
			<td style="border-color: white; ">9 anios</td>
			<td style="border-color: white; ">10 anios</td>
			<td style="border-color: white; ">11 anios</td>
			<td style="border-color: white; ">12 anios</td>
		</tr>
		<tr style="background-color:#C5D1DB; border-color: white;">
			<td style="border-color: white; ">{{ cant4anios }}</td>
			<td style="border-color: white; ">{{ cant5anios }}</td>
			<td style="border-color: white; ">{{ cant6anios }}</td>
			<td style="border-color: white; ">{{ cant7anios }}</td>
			<td style="border-color: white; ">{{ cant8anios }}</td>
			<td style="border-color: white; ">{{ cant9anios }}</td>
			<td style="border-color: white; ">{{ cant10anios }}</td>
			<td style="border-color: white; ">{{ cant11anios }}</td>
			<td style="border-color: white; ">{{ cant12anios }}</td>
		</tr>
	</table>
{% endif %}
{% endblock %}