{% extends "SIGBundle::reporteMaestro.pdf.twig" %}
{% block contenido %}
<p text-align="center">Desde {{ util.fecha(fecha_inicio) }} hasta el {{ util.fecha(fecha_fin) }}</p>
<h2 text-align="center">Estadios de Nolla --- Autor {{autor}}</h2>
<br />
<br />
<br />
<br />
<br />
<br />
	<p text-align="center"> Cantidad de Ninas por Edades </p>
	<br />
	<table style="border-color: white; font-size:14px;" text-align="center">
		<tr style="background-color:#63A1D3; border-color: white;  ">
			<td style="border-color: white; " >estadioCero</td>
			<td style="border-color: white; ">estadioUno</td>
			<td style="border-color: white; ">estadioDos</td>
			<td style="border-color: white; ">estadioTres</td>
			<td style="border-color: white; ">estadioCuatro</td>
			<td style="border-color: white; ">estadioCinco</td>
			<td style="border-color: white; ">estadioSeis</td>
			<td style="border-color: white; ">estadioSiete</td>
			<td style="border-color: white; ">estadioOcho</td>
			<td style="border-color: white; ">estadioNueve</td>
			<td style="border-color: white; ">estadioDiez</td>
		</tr>
		<tr style="background-color:#C5D1DB; border-color: white;">
			<td style="border-color: white; ">{{ cero }}</td>
			<td style="border-color: white; ">{{ uno }}</td>
			<td style="border-color: white; ">{{ dos }}</td>
			<td style="border-color: white; ">{{ tres }}</td>
			<td style="border-color: white; ">{{ cuatro }}</td>
			<td style="border-color: white; ">{{ cinco }}</td>
			<td style="border-color: white; ">{{ seis }}</td>
			<td style="border-color: white; ">{{ siete }}</td>
			<td style="border-color: white; ">{{ ocho }}</td>
			<td style="border-color: white; ">{{ nueve }}</td>
			<td style="border-color: white; ">{{ diez }}</td>
		</tr>
	</table>
{% endblock %}